<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CeleryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CeleryApp.Properties.Settings>
            <setting name="Opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autolaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </CeleryApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.0.0" newVersion="4.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>